[submodule "src/cJSON"]
	path = MutableStorageKVP/src/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule ".\\Littlefs\\src\\HighLevelApp\\littlefs"]
	path = .\\Littlefs\\src\\HighLevelApp\\littlefs
	url = https://github.com/littlefs-project/littlefs.git
